nav {
  background-color: #f55a5a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
}

.links {
  display: flex;
  gap: 1em;
  padding: 0 1rem;
}

.links a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
